/* Reset */
.helpButton {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  outline: none;
  padding: 0;
  text-shadow: none;
}

.helpButton {
  bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 40px;
  left: 20px;
  position: fixed;
  z-index: 11;
}

.helpText {
  font-size: 16px;
  padding: 20px;
}
