.toolbar {
  background: #181818;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}

.dirty .play {
  background: rgba(253, 255, 157, 0.11);
}

.error .play {
  background: rgba(255, 0, 0, 0.36);
}

.error .message {
  color: rgba(255, 115, 33, 0.8);
}

/* Reset */
.button {
  background: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  outline: none;
  padding: 0;
  text-shadow: none;
}

/* Toolbar styles */
.button {
  border-right: 1px solid #111;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex: 0 0 auto;
  font-size: 34px;
  height: 60px;
  justify-content: center;
  transition: background .3s;
  width: 60px;
}

.status {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  margin-left: 20px;
}
